{
    "presets": ["next/babel"],
    "plugins": [
        ["@babel/plugin-proposal-optional-chaining"],
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ],
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "styles": "./styles",
                    "components": "./src/components",
                    "constants": "./src/constants",
                    "store": "./src/store",
                    "reducers": "./src/reducers",
                    "types": "./src/types"
                }
            }
        ]
    ]
}
