{
  "arrowParens": "always",
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "printWidth": 100,
  "tabWidth": 4
}
